#navigation {
  background-color: #ff9404;
  z-index: 1000;
}

#navigation #main-menu a {
	padding: 12px 10px;
}

h1, p.welcome {
 color: #ff9404;
}

p.welcome {
    font-size: 1.25em;
}

.text-shadow {
    text-shadow: 0 0 3px black;
}

.page-contact {
    background: url(../images/pages/contact/map_bck.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

[class^="sicon-"] i, [class*=" sicon-"] i {
	display: inline-block;
	margin-right: 10px;
}

.custom-center {
	margin: 0 auto;
}

.social-icons a {
	display: inline-block;
}

a.dark {
	color: white;
}

.media>.pull-left {
	margin-right: 5px;
}

.row-fluid .offset1-5 {
  margin-left: 14.384615385%;
  *margin-left: 14.384615385%;
}

.modal-dark {
	color: black;
	line-height: 1em;
	font-size: 1em;
	padding-top: 0px;
}

.modal-dark h5 {
	margin-bottom: 0;
}

.modal-dark p {
	margin-bottom: 30px;
}

.portfolio-items .portfolio-overlay {
	left: 0;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.padding-top {
	padding-top: 30px;
}

#navigation .brand {
	padding-right: 20px;
}